body{
  font-family: monospace, Heveltica;
  background-color: white;
}

h1, h2{
  cursor: pointer;
}

.space-bot{
  margin-bottom: 10px;
}

.arredondado{
  border-radius: 10px;
}

.esquerda{
  background-color: whitesmoke;
}

.centro{
  background-color: LightSteelBlue;
}

.direita{
  background-color: SpringGreen;
}

.botao{
  background-color: white;
  color: black;
}
