body{
  font-family: monospace, Heveltica;
  background-color: white;
}

.pessoa{
  background-color: whitesmoke;
  border-radius: 10px;
}

.veiculo{
  background-color: LightSteelBlue;
  border-radius: 10px;
}

.item{
  background-color: SpringGreen;
  border-radius: 10px;
}

.botao{
  background-color: white;
  color: black;
}
