body{
  font-family: monospace, Heveltica;
  background-color: whitesmoke;
}

.pessoa{
  background-color: Bisque;
  padding: 35px 0px 20px 10px;
  width: 400px;
  border-radius: 10px;
}

.veiculo{
  background-color: LightSteelBlue;
  padding: 35px 0px 20px 10px;
  width: 400px;
  border-radius: 10px;
}

.item{
  background-color: SpringGreen;
  padding: 35px 0px 20px 10px;
  width: 400px;
  border-radius: 10px;
}

.botao{
  background-color: white;
  color: black;
}

.espacado{
  margin-top: 10px;
}
